{% extends 'base.html' %}
{% load static %}
{% block title %}
Phones for Homies
{% endblock %}

{% block content %}
  <div class="text-center">
    <br>
    <br>
    <h1 class="text-center product_title">
     About us
    </h1>
    <div class="contact-container">
{#        <div class="contact-box">#}
{#        <p><i class="icon fas fa-envelope fa-3x"></i>#}
{#          <em>E-mail: </em><a href="mailto:avn37@tpu.ru">info_phones_homies@gmail.com</a></p>#}
{#        </div>#}

         <div class="contact-box">
        <p><i class="icon fas fa-phone fa-3x"></i>
          <em>Phone number: </em>8-800-77-07-999 </p>
        </div>

         <div class="contact-box">
        <p><i class="icon fas fa-map-marker-alt fa-3x"></i>
            <em>Address: </em><a href="https://www.google.com/maps/place/%D1%83%D0%BB.+Vershinina,+39a,+Tomsk,,+634034/">Russia, Tomsk, Vershinina 39a</a></p>
        </div>

         <div class="contact-box">
        <p><i class="icon fab fa-vk fa-3x"></i>
          <em>VK: </em> <a href="https://vk.com/ambidre">Phones for Homies</a></p>
        </div>

          <div class="contact-box">
        <p><i class="icon fab fa-facebook fa-3x"></i>
            <em>Facebook: </em><a href="https://www.facebook.com/profile.php?id=100007033248541">Phones for Homies</a></p>
        </div>

        <div class="contact-box">
        <p><i class="icon fab fa-instagram fa-3x"></i>
            <em>Instagram: </em><a href="https://www.instagram.com/ambidre_/">phones_homies</a></p>
        </div>
</div>


  </div>
{% endblock %}
